html{
    font-size: 62.5%;
}
body{
    font-size:1.6rem;/* 16px*/
    line-height: 2;
    }
#main_wrap{
    color: #f5f5f5;
    background: #111111;
    padding-top: 60px;
}
.content_wrap{
    width:100%;
}

/*ヘッダー*/
header{
    background-color:rgba(34,34,34,0.5);
    z-index: 1;
    padding:10px;
    color: #f5f5f5;
}
header img{
    float: left;
    height:40px;
}
header button{
    float: right;
}

/*メイン*/
#catchcopy{
    position: relative;
    height:50vh;
    top:20vh;
    left:26vw;
}
#scroll img{
    position: relative;
    height:6vh;
    top:40vh;
    animation-name: scroll;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.4s;
}
@keyframes scroll {
    0% {
        transform: translate(0,0px);
    }
    100% {
        transform: translate(0,-6px)
    }
}


/*概要*/
#overview{
    background-image: url(/img/back1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 960px;
    margin:auto;
}
#website, #time, #fee {
    font-size: 2rem;
    margin: 10px 0;
    font-family: "FP-ヒラギノ明朝 ProN W6";
}
#date{
    font-size: 3rem;
    font-family: "FP-ヒラギノ明朝 ProN W6";
}
#date span{
    font-size: 4rem;
}
#message{
    font-size: 1.3rem;
    margin: 50px 0;
    font-family: "FP-ヒラギノ角ゴ ProN W6";
}

/*見出し*/
h2{
    font-size:3rem;
    position: relative;
    display: inline-block;
    padding: 30px 55px;
    color: #f5f5f5;
    font-family: "FP-ヒラギノ角ゴ ProN W6";
}
h2:before, h2:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color:#f5f5f5;
}
h2:before {
    left: 0;
}
h2:after {
    right:0;
}

/*参加方法*/
#howtojoin .content_wrap{
    border: solid 1px #f5f5f5;
    max-width: 960px;
    margin:auto;
    font-family: "FP-ヒラギノ角ゴ ProN W6";
}
.steptitle{
    line-height: 24px;
    padding: 10px 0;
}
.steptitle img{
    height: 24px;
}
.stepimage {
    padding: 10px 0;
    width:40%;
    margin:auto;
}
#howtojoin_button{
    padding: 30px 0;
    max-width: 300px;
    width:50%;
    margin:auto;
}

/*注意事項*/
#attention_text{
    font-size: 1.3rem;
    margin: 10px 0;
    max-width: 960px;
    margin:auto;
    font-family: "FP-ヒラギノ角ゴ ProN W6";
}

/*STAFF*/
.stafflist{
    height:70px;
    max-width: 960px;
    margin:auto;
    font-family: "FP-ヒラギノ角ゴ ProN W6";
}
.stafficon img{
    height:70px;
    width:70px;
    margin: 0 10px;
}
.position{
    width:calc(50% - 45px) ;
    margin:auto 0;
}
.menber{
    width:calc(50% - 45px);
}
.belongs{
    font-size: 1rem;
}

/*フッター*/
footer:before{
    content: '';
    display: inline-block;
    width: 90%;
    height: 1px;
    background-color:#cccccc;
}
.footerlogo img{
    margin-top:30px;
    width:70%;
    max-width: 300px;
}
.share img{
    width:30px;
    margin:10px;
}
.sharetext,.contacttext{
    font-size: 1.6rem;
    margin-top:30px;
    font-family: "FP-ヒラギノ角ゴ ProN W6";
}


@media (min-width: 1200px) {/* 1200px以上*/
    h2{
        margin-top: 50px;
    }
    #website, #time, #fee {
        font-size: 2.6rem;
    }
    #message{
        font-size: 1.6rem;
    }
    #howtojoin_button{
        padding: 50px 0;
    }
    #attention_text{
        font-size: 1.6rem;
    }
    footer {
        font-size: 1.2rem;
    }
}